/*body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px; }

a {
  color: #3f8abf;
  text-decoration: none; }
  a:hover {
    color: #65a1cc; }

nav ul {
  text-align: left;
  list-style: none;
  margin-left: 0;
  padding: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  margin: 0;
  padding: 10px 15px;
  color: #444;
  background-color: #adadad;
}*/
